html{
  margin: 0;
}

body{
        margin: 0;
        padding: 20px;
        font-size: 30px;
        font-style: italic;
        background: black;
        color: #E15840;
    }

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 812px){

    body{
        margin: 0;
        padding: 20px;
        font-size: 21px;
        font-style: italic;
        background: black;
        color: #E15840;
    }

