html{
	cursor: cell;
}

body{
	font-family: 'IBM Plex Mono', monospace;
	padding: 10%;
}

.link{
	padding: 10px;
}

.link-dead{
	opacity: 0;
}

a {
    color: black;
    text-decoration: none;
    cursor: cell;
}

a:hover 
{
     color: red;
     text-decoration:none;
     cursor: cell;
}

