html{
	cursor: cell;
}

body{
  margin: 0;
}

.link{
	padding: 50px;
  font-size: 25px;
  border-bottom: 0.5px dotted blue;
}

.link-elaborate{
  padding: 50px;
  font-size: 25px;
  background-color: blue;
  border-bottom: 0.5px dotted blue;
}

.link-dead{
	opacity: 0;
}

a {
    color: pink;
    text-decoration: none;
    cursor: cell;
}

a:hover 
{
     color: blue;
     text-decoration:none;
     cursor: cell;
}

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 812px){

    .link{
        font-size: 24px;
        text-align: center;
    }
    a {
    color: blue;
    }

