html{
	cursor: cell;
}

body{
  margin: 0;
}

.link{
	padding: 50px;
  font-size: 25px;
  border-bottom: 0.5px dotted black;
}

.link-dead{
	opacity: 0;
}

a {
    color: black;
    text-decoration: none;
    cursor: cell;
}

a:hover 
{
     color: red;
     text-decoration:none;
     cursor: cell;
}

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 812px){

    .link{
        font-size: 20px;
        text-align: center;
    }

